<h1>Events#confirm</h1>

<h1>確認画面</h1>

  <div class="">
    <p>コース: <%= @event.plan.name %></p>
  </div>
  <div class="">
    <p>参加人数: <%= @event.num.name %></p>
  </div>
  <div class="">
    <p>オプション: <%= @event.option.name %></p>
  </div>
  <div class="">
    <p>ご希望日: <%= @event.start_time %></p>
  </div>
  <div class="">
    <p>代表者名: <%= @event.name %></p>
  </div>
  <div class="">
    <p>電話番号: <%= @event.tel %></p>
  </div>
  <div class="">
    <p>料金: <%= @event.price %></p>
  </div>



<%= form_with(model: @event, id: 'charge-form', local: true) do |f| %>
  <%= f.hidden_field :plan %>
  <%= f.hidden_field :num %>
  <%= f.hidden_field :option %>
  <%= f.hidden_field :start_time %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :tel %>
  <%= f.hidden_field :price %>

  <%# 決済機能 %>
  <h1>お支払いpayjp</h1>

  <div class='form-wrap'>
    <%= f.label :number,  "カード番号" %>
    <%= f.text_field :number, class:"number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
  </div>
  <div class='form-wrap'>
    <p>有効期限</p>
    <div class='input-expiration-date-wrap'>
      <%= f.text_field :exp_month, class:"exp_month", placeholder:"例)3" %>
      <p>月</p>
      <%= f.text_field :exp_year, class:"exp_year", placeholder:"例)24" %>
      <p>年</p>
    </div>
  <div class='form-wrap'>
    <%= f.label :cvc ,"ＣＶＣ" %>
    <%= f.text_field :cvc, class:"cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"3" %>
  </div>

  <%= f.submit "予約する" %>
  <%= f.submit "戻る", name: :back %>
<% end %>