<h1>Events#edit</h1>
<p>Find me in app/views/events/edit.html.erb</p>

<%= form_with(model: @event, local: true) do |f| %>

<div class="">
  <div class="">
    <p>参加希望日</p>
  </div>
  <div class ="">
    <%= f.text_field :start_time %>
  </div>
</div>

<div class="">
  <div class="">
    <p>コース</p>
  </div>
  <div class ="">
    <%# <%= f.text_field :plan_id %>
    <%= f.collection_select(:plan_id, Plan.all, :id, :name, {}, {class:"#", id:"#"}) %>

  </div>
</div>

<div class="">
  <div class="">
    <p>参加人数</p>
  </div>
  <div class ="">
    <%= f.collection_select(:num_id, Num.all, :id, :name, {}, {class:"#", id:"#"}) %>
  </div>
</div>
<!--
<div class="">
  <div class="">
    <p>オプション</p>
  </div>
  <div class ="">
    <%= f.collection_select(:option_id, Option.all, :id, :name, {}, {class:"#", id:"#"}) %>
  </div>
</div>
-->

<div class="">
  <div class="">
    <p>代表者名</p>
  </div>
  <div class ="">
    <%= f.text_field :name %>
  </div>
</div>

<div class="">
  <div class="">
    <p>TEL</p>
  </div>
  <div class ="">
    <%= f.text_field :tel %>
  </div>
</div>

<div class="">
  <div class="">
    <p>料金</p>
  </div>
  <div class ="">
    <%= f.text_field :price %>
  </div>
</div>

  <div class="">
    <%= f.submit "編集する" %>
  </div>

  <div class="">
    <%= link_to "削除する", event_path(@event.id), method: :delete, class:"#" %>
  </div>

  <div class="">
    <%= link_to "戻る", root_path%>
  </div>
<% end %>