  <h3>日付検索</h3>

<%= search_form_for @e, url: events_search_path do |f| %>
  <%= f.label :start_time_eq, '催行日' %>
  <%= f.collection_select :start_time_eq, @event_name, :start_time, :start_time,  include_blank: '指定なし' %>
  <br>
  <%= f.submit '検索' %>
<% end %>



<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <ul class="event-list">
    <% events.each do |event| %>
    <li class="list">
      <%= link_to edit_event_path(event.id) do %>
        <%= event.plan.call %>
        <%= event.name %>
        <%= event.num.name %>
      <% end %>
    </li>
  </ul>
      
  <% end %>
<% end %>


<%= link_to 'お客様用お申し込みフォームへ', new_event_path %>