<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  
  <ul class="event-list">
    <% events.each do |event| %>
    <li class="list">
      <%= link_to edit_event_path(event.id) do %>
        <%= event.plan %>
        <%= event.name %>
        <%= event.num %>
      <% end %>
    </li>
  </ul>
      
  <% end %>
<% end %>


<%= link_to 'push', new_event_path %>