<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<h1>お申し込みフォーム</h1>

<div class="#">
  <div class="#">
    <ul class="#">
      <li class="#">お申し込みフォーム（入力画面）</li>
      <li class="#">お支払い（決済画面）</li>
      <li class="#">ご予約完了（完了画面）</li>
    </ul>
  </div>
</div>

<%# confirm_eventsは作成した確認画面  ordersはフォームオブヘクトで決済画面 %>
<%= form_with(model: @event, url:confirm_events_path, local: true) do |f| %>

  <div class="plan">
    <%= f.label :plan, 'コース' %>
        <%# neme属性以外のオプションを追加した時は下記に記述に変わる %>
      <% plan_options = Plan.order(:id).map { |c| [c.name, c.id, data: { price: c.price }] } %>
    <%= f.select(:plan_id, plan_options, {}, {class:"#", data:{select:0}, id:"plan" }) %>
  </div>

  <div class="number">
    <%= f.label :num, '参加人数' %>
      <% num_options = Num.order(:id).map { |c| [c.name, c.id, data: { multiple: c.multiple }] } %>
    <%= f.select(:num_id, num_options, {}, {class:"#", data:{select:0}, id:"num" }) %>
  </div>
<!--
  <div class="option">
    <%= f.label :option, 'オプション' %>
      <% o_options = Option.order(:id).map { |c| [c.name, c.id, data: { optionprice: c.optionprice }] } %>
    <%= f.select(:option_id, o_options, {}, {class:"#", data:{select:0}, id:"option" }) %>
  </div> -->

    <div class="plan_day">
    <%= f.label :start_time, 'ご希望日' %>
    <%= f.date_select :start_time %>
  </div>

  <div class="name">
    <%= f.label :name, '代表者名' %>
    <%= f.text_field :name %>
  </div>

  <div class="tel">
    <%= f.label :tel, '電話番号' %>
    <%= f.text_field :tel %>
  </div>

    <P>一人あたりの値段</P>
  <div class="price" id="one_price">
    <p>¥0</p>
  </div>

  <P>合計金額</P>  
  <div class="price" id="total_price">
    <p>¥0</p>
  </div>

  <div>
    <%= f.hidden_field :price, id: "f_price"  %>
    <%# <%= f.text_field :price, id: "f_price"  %> 
  </div>

  <div class="submit" >
    <%= f.submit "確認画面へ", class:"#", id:"button1" %>
  </div>



<% end %>